:root {
  /* color */
  --color-white: #c7f7e5;
  --color-mint: #9eee95;
  --color-white: #f1f1ee;
  --color-purple: #706fd3;
  /* animation */
  --animation-duration: 300ms;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform var(--animation-duration);
}

h1 {
  align-items: center;
  font-size: 60px;
  color: var(--color-mint);
  padding-bottom: 100;
  cursor: pointer;
}

h1:hover {
  transform: scale(1.1);
}

.login-box {
  text-align: center;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--color-mint);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
}

.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
  width: 280px;
}

button {
  margin: 0.5em;
  padding: 0.7em 1.5em;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--color-mint);
  background-color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transition: var(--animation-duration);
}

button:hover {
  color: var(--color-purple);
}
