@charset "utf-8";
*{box-sizing: border-box;}
/* font-face */
@font-face {font-family:'Spoqa Han Sans'; font-style:normal; font-weight:400; src:url(../font/SpoqaHanSansRegular.woff2) format('woff2'), url(../font/SpoqaHanSansRegular.woff) format('woff'), url(../font/SpoqaHanSansRegular.ttf) format('truetype');}
@font-face {font-family:'Spoqa Han Sans'; font-style:normal; font-weight:700; src:url(../font/SpoqaHanSansBold.woff2) format('woff2'), url(../font/SpoqaHanSansBold.woff) format('woff'), url(../font/SpoqaHanSansBold.ttf) format('truetype');}

/*메인 공통*/
.main_container{}
.main_embanner { width:100%;}
.mainlive_container { width:100%; height:auto; overflow:hidden; background-color:#EEEFEF; padding-bottom: 20px;}
.mainlive_container > .container > div { padding-bottom:25px;}
@media (min-width:1180px) {
	.mainlive_container > .container > div { padding:0;}
}
@media (min-width:768px) and (max-width:1179px) {
	.mainlive_container > .container > div { padding:0 25px;}
}
@media (max-width:767px) {
	.mainlive_container { padding-top:10px; }
	.mainlive_container > .container > div { padding:0 5px;}
}

/*메인 표*/
table.ds_table{width: 100%; }
table.ds_table caption{position:absolute;width:1px;height:1px;margin:-1px;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);overflow:hidden;z-index:-1}
table.ds_table th, .table.ds_table td{ font-size: 15px; font-weight: 500; color: #333; text-align: center; }
table.ds_table th a{color:#333}
table.ds_table thead th span{background: #D0D0D0; display: block; padding: 15px 0; position: relative}
table.ds_table thead th span:before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 14px; background: rgba(112,112,112,0.2);  }
table.ds_table thead th:first-of-type span:before{display: none}
table.ds_table thead th:first-of-type span{border-top-left-radius: 5px; }
table.ds_table thead th:last-of-type span{border-top-right-radius: 5px; }
table.ds_table tbody th {background: #ECE9E3; height: 40px; position: relative; }
/*table.ds_table tbody th br{display: none;}*/
table.ds_table tbody th span{ vertical-align: middle; }

table.ds_table tbody th img{ position: absolute; right: 14px; top: 12px; }
table.ds_table tbody td {background:#fff;text-align: center; color:#222; position: relative; height: 45px; font-family:'Spoqa Han Sans'; font-weight: 400;}
table.ds_table tbody td span{vertical-align: middle;}
table.ds_table tbody td span:before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 14px; background: #E8E4DC;  }
table.ds_table tbody th span em{ font-size: 11px; color:#767676; line-height: 14px}
table.ds_table tbody td:first-of-type span:before{display: none;}
table.ds_table tbody tr:first-of-type td:last-of-type{border-top-right-radius: 5px }
table.ds_table tbody tr:last-of-type td:last-of-type{border-bottom-right-radius: 5px;}



@media (max-width:767px) {
	table.ds_table thead th, table.ds_table th, table.ds_table td {font-size: 13px}
	table.ds_table tbody th span em{font-size: 9px}
	table.ds_table tbody th br{display: block}
}




/* 메인 gnb 마우스 hover시 */
.header.on{border-bottom:1px solid #e1e6eb;}
.h_right{position: relative; z-index: 11}
.gnb_bg_main{position: absolute; left:50%; top: 58px; transform: translateX(-50%); width: 100vw; height: 200px; background: #fafafc; z-index: 10; border-bottom:1px solid #bfbfbf; display: none;border-top: 1px solid #e1e6eb; transition: all .08s;}
.gnb .g_sub > div{background: transparent; border-bottom: none;}
.gnb .g_sub > div > ul{background: transparent; margin-left: -24px;}
.gnb .g_sub > div > ul > li > a{background: #fff; color: #6b6b6b; border:1px solid #e1e6eb; z-index:101;}
.gnb .g_sub > div > ul > li > a:hover, .gnb .g_sub > div > ul > li > a:focus{background: #30506d; color:#fff;}
.m_popupzone .slide_btn [class^="btn_"]{
	z-index:1 !important;
}
@media (max-width:1180px) {
	.h_right{position: static}
}

/**********************************************************************************
	현황판_layout
**********************************************************************************/
.liveboard_layout { position:relative; width:100%; height:auto; overflow:hidden; margin-top:10px;}
.liveboard_layout .liveToggleOuter { position:relative; width:100%; } /*  발생현황, 시도별 현황 */
.liveboard_layout .liveToggleOuter:after{content: ''; clear: both; display: block;}
.liveToggleOuter > div { /* 여닫음 영역 */}
.liveToggleOuter .live_left { float:left; width:500px;  padding-right:20px; }
.liveToggleOuter .live_right { float:left; width:680px;}

.liveboard_layout h2 { width:100%; font-size:17px; line-height:25px; font-weight:700; color:#3F3F3F; margin-bottom: 10px; position: relative; }
.liveboard_layout h2 > span{ font-size: 14px; font-weight: 400; color: #3F3F3F; margin-left: 4px}
.liveboard_layout h2 > .more{ float: right; font-size: 12px; line-height: 22px; font-weight: 500; position: relative; padding:0px 10px; color:#fff; background: #009fd1; border-radius: 20px; margin-top: 3px; transition: .3s; border: 1px solid transparent}
.liveboard_layout h2 > .more:hover, .liveboard_layout h2 > .more:focus{background: #333}
.liveboard_layout h2 > .more > .ico_window{display: none; }
.liveboard_layout h3 {}
.liveboard_layout h3 > * { display:inline-block; vertical-align:middle; }
.liveboard_layout h3 > .title { padding-right:16px; padding-left:16px; font-size:15px;  font-weight:600; letter-spacing:-0.075em; line-height:22px; /* border:1px solid #dcdcdc; border-radius:11px; */ text-align:center;}
.liveboard_layout h3 > .info { margin-left:4px; font-size:13px; color:#174069; }

@media (max-width:1179px) {
	.liveToggleOuter .live_left { float:none;  width:100%;padding-right:0; margin-bottom:20px;}
	.liveToggleOuter .live_right  { float:none; width:100%;}
}
@media (max-width:767px) {
	.liveboard_layout{margin-top: 0}
	.liveToggleOuter .live_left > div,
	.liveToggleOuter .live_right > div { margin-top:10px;}
	.liveToggleOuter .live_left { float:none; width:100%;padding-right:0; }
	.liveToggleOuter .live_right { float:none; width:100%; margin-top:20px;}
	.liveboard_layout h2 { font-size:16px; }
	.liveboard_layout h2 > a > .more { display:none}
	.liveboard_layout h3 > .title { font-size:13px;}
	.liveboard_layout h3 > .info { font-size:12px;}
	.liveboard_layout h2 > span{font-size: 12px; display:block; }
	.liveboard_layout h2 > .more{position: absolute; right: 0; top: 1px; }

}

/*발생현황 표*/
.occurrenceStatus table.ds_table tbody th{height: 53px;}
.occurrenceStatus table.ds_table tbody td{height: 53px;}
/*.occurrenceStatus table.ds_table thead th:nth-of-type(2) span{ background: #9D9D9D; color:#fff; }
.occurrenceStatus table.ds_table thead th:nth-of-type(3) span{ background: #4EA5A8; color:#fff; }
.occurrenceStatus table.ds_table thead th:nth-of-type(4) span{ background: #4677C2 ; color:#fff;}
.occurrenceStatus table.ds_table thead th:nth-of-type(5) span{ background: #706092; color:#fff; }*/

@media (max-width:1179px) {

}

@media (max-width:767px) {
	table.ds_table tbody th img{width: 25px; height: 25px; right: 8px; top: 10px;}

}


/*발생현황 표*/

/*발생현황 누적 확진 및 사망자 박스*/
.occurrenceStatus{margin-top: 20px;}
.occurrenceStatus .occur_num{ border-radius: 5px; overflow: hidden; margin-top: 5px; }
.occurrenceStatus .occur_num .box{float: left; width: 50%; padding: 15px 10px; font-size: 15px; font-weight: 500; color:#fff; text-align: left; position: relative;}
.occurrenceStatus .occur_num .box:nth-of-type(1){width: 200px; text-align: center}
.occurrenceStatus .occur_num .box:nth-of-type(2){width: calc(100% - 200px); padding: 15px 20px}
.occurrenceStatus .occur_num .box:first-of-type:before{display: none}
.occurrenceStatus .occur_num .box > span{ display: inline-block; margin-right: 10px}
.occurrenceStatus .occur_num .box:first-of-type{background: #9D9D9D}
.occurrenceStatus .occur_num .box:nth-of-type(2){background: #606792}
.occurrenceStatus .occur_num .box a{position: absolute; right:20px; top: 50%; transform: translateY(-50%); font-size: 13px; font-weight: 700; color:#574e3e; background: #fff; padding: 3px 8px 5px; border-radius: 10px; text-align: center; transition: .3s}
.occurrenceStatus .occur_num .box a:hover, .occurrenceStatus .occur_num .box a:focus{background: #3f2e63; color:#fff;}
.occurrenceStatus .occur_num .box a span{ vertical-align: middle}
.occurrenceStatus .occur_num .box a img{ vertical-align: bottom; margin-left: 3px; padding: 1px; border-radius: 50%; background: #fff;}


@media (max-width:1179px) {
	.occurrenceStatus .occur_num .box:nth-of-type(1){width: 50%}
	.occurrenceStatus .occur_num .box:nth-of-type(2){width: 50%}
}

@media (max-width:767px) {
	.occurrenceStatus .occur_num .box{font-size: 14px}
	.occurrenceStatus .occur_num .box:nth-of-type(1), .occurrenceStatus .occur_num .box:nth-of-type(2){float: none; width: 100%; padding: 15px 20px; text-align: left}
}

/*발생현황 누적 확진 및 사망자 박스*/

/*차트 관련 css => chast_kr.css*/

/*예방접종현황 및 병상현황 layout*/
.vaccineHospital{margin-top: 20px;}
.vaccineHospital > .vH_left{float: left; width:500px; padding-right: 20px}
.vaccineHospital > .vH_right{ float: right; width: 680px; }

@media (max-width:1179px) {
	.vaccineHospital > .vH_left{float: none; width:100%; padding-right: 0;}
	.vaccineHospital > .vH_right{ float: none; width: 100%; }
}
@media (max-width: 767px) {

}

/*예방접종현황 및 병상현황 layout*/

/*예방접종현황*/
.vaccineNum{margin-top: 20px;}
.vaccineNum > div{ overflow: hidden; border-radius: 7px; overflow: hidden; box-shadow: 0px 6px 10px #00000012; }
.vaccine_list{background: #fff;  overflow: hidden; width: 100%; float: left; position: relative; }
.vaccine_list:after{content:""; display: block; position: absolute; right:0px; top:0px; width: 1px; height: 38px; background:#1B70C5;}
.vaccineNum .vaccine_list *{ }
.vaccineNum .vaccine_list .box{float: left; width: 33.333%;  position: relative; }
.vaccineNum .vaccine_list .box + .box + .box.sixty_up ul{overflow: visible; margin-top:-10px;}
.vaccineNum .vaccine_list .box + .box + .box.sixty_up ul .percent{margin-top: 10px;}
.vaccineNum .vaccine_list .box > div:nth-of-type(2){min-height: 100px; background: #fff; padding: 30px 10px; padding-bottom:20px; text-align: center;}
.vaccineNum .vaccine_list .box:FIRST-CHILD > div:nth-of-type(2){padding-left: 20px;}
.vaccineNum .vaccine_list ul{ position: relative;  width: 100%; overflow: hidden; display: inline-block; margin: auto}
.vaccineNum .vaccine_list li{color:#777;}
.vaccineNum .vaccine_list .item{font-size: 18px;font-weight: 500; text-align: center; background: #1B70C5; padding: 10px; color:#fff; }
.vaccineNum .vaccine_list li.percent{font-size: 28px; font-family:'Spoqa Han Sans'; font-weight: 700; letter-spacing: 0.035em; float: left; width: 80px; color: #0E62B5; transform: translateY(5px)}
.vaccineNum .vaccine_list li.percent span{font-size: 15px; margin-left:  2px; font-weight: 300; color:#686868}
.vaccineNum .vaccine_list li.person{font-size: 14px; padding-left: 30px; position: relative; line-height: 16px; font-family:'Spoqa Han Sans'; letter-spacing: 0.015em; color:#222; font-weight: 500; float: right; width: calc(100% - 90px)}
.vaccineNum .vaccine_list .box.sixty_up li.person:last-child{padding-left:55px; color:#222;}
.vaccineNum .vaccine_list .box + .box + .box li.person + .person + .person{display:none;} 
.vaccineNum .vaccine_list .box + .box + .box.sixty_up li.person + .person + .person{display:block;} 
.vaccineNum .vaccine_list li.person span{position: absolute; left: 0; top: 0; font-size: 12px; color:#686868}
.vaccineNum .vaccine_list .box.sixty_up li.person:last-child span{color:#686868;}
.vaccineNum .vaccine_list li.person img{ vertical-align: middle; }
.vaccineNum .vaccine_list li + li{margin-top: 3px;}
@media (max-width:1179px){
	.vaccine_list{width:100%}
	.vaccineNum .vaccine_list .box:FIRST-CHILD > div:nth-of-type(2){padding-left: 10px;}
}

@media (max-width:500px) {
	.vaccineNum .vaccine_list .item{font-size: 14px}
	.vaccineNum .vaccine_list .box > div:nth-of-type(2){padding: 15px 5px; min-height: inherit}
	.vaccineNum .vaccine_list ul{width: inherit}
	.vaccineNum .vaccine_list li.percent{float: none; width: 100%; font-size: 20px; transform: none; margin-bottom: 5px}
	.vaccineNum .vaccine_list li.person{float: none; width: 100%; padding-left: 0}
	.vaccineNum .vaccine_list li.person span{position: static; padding-right: 5px}
}
/*예방접종현황*/

/*병상현황*/
.hospitalNum{margin-top: 20px;}
/*.hospitalStatus table.ds_table thead th:nth-of-type(2) span {background:#75A49D; color: #fff;}
.hospitalStatus table.ds_table thead th:nth-of-type(3) span {background:#6296C4; color: #fff;}
.hospitalStatus table.ds_table thead th:nth-of-type(4) span {background:#6E6B97; color: #fff;}*/
.hospitalStatus table.ds_table tbody td{height: 60px;}
.hospitalStatus table.ds_table tbody th span{line-height: 20px}
/*예방접종현황*/


/* 퀵배너 바로가기 */
.liveboard_layout .liveQlinkOuter {width:100%; position:relative; display:table; padding-top:25px; z-index:2}

.quick_banner_new{overflow: hidden; border-radius: 5px; position: relative}
.quick_banner_new:after{content: ''; position: absolute; left: 50%; top: 0; width: 1px; height: 100%; background: rgba(112,112,112,.2); z-index: 1;}
.quick_banner_new > li {float: left; width:50%; position: relative}
.quick_banner_new > li > a {position:relative; display:table; padding:8px 8px 8px 60px; width: 100%; height:68px; background: #fff}
.quick_banner_new > li > a:hover span{text-decoration: underline}
.quick_banner_new > li > a:before{content: ''; position: absolute; left: 15px; top: 50%; transform: translateY(-50%); width: 44px; height: 44px; border-radius: 50%; }
.quick_banner_new > li:nth-child(even) > a:before{background: #4EA5A8; }
.quick_banner_new > li:nth-child(odd) > a:before{background: #4677C2; }
.quick_banner_new > li > a:after{content: ''; position: absolute; left: 25px; top: 50%; transform: translateY(-50%); width: 24px; height: 24px;}
.quick_banner_new > li:nth-of-type(2) > a:after{ background: url('/static/main/img/main/quick_icon_3.png') no-repeat center/contain; }
.quick_banner_new > li:nth-of-type(1) > a:after{ background: url('/static/main/img/main/quick_icon_4.png') no-repeat center/contain; }
.quick_banner_new > li > a > span  {font-size:15px; line-height:24px; font-weight:700; color:#000; vertical-align:middle; word-break:keep-all; letter-spacing:-0.075em; display: block; position: absolute ; width: calc(100% - 77px); top: 46%; transform: translateY(-50%); right: 8px; }
.quick_banner_new > li:nth-of-type(1) > a > span{line-height: 17px; font-size: 14px}
.quick_banner_new > li:nth-of-type(2) > a > span{line-height: 17px; font-size: 14px}
.quick_banner_new > li > a > span em {font-size: 13px; font-weight: 400;  color:#666; letter-spacing: -0.15em; word-break: break-all; line-height: 13px}
.quick_banner_new > li > a .ico_window{display: none;}

@media (max-width:1179px) {
	.quick_banner_new > li:nth-of-type(4) > a > span{font-size: 13px; line-height: 15px; word-break: break-all;}
	.quick_banner_new > li > a > span em{font-size: 12px; }
}
@media (max-width: 768px) {
	.quick_banner_new:before, .quick_banner_new:after{display: none}
	.quick_banner_new > li{position: relative}
	.quick_banner_new > li:before{content: ''; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: calc(100% - 18px); height: 1px; background: rgba(112,112,112,.2); z-index: 1; display: none}
	.quick_banner_new > li + li:before{display: block}
	.quick_banner_new > li > a{height: 68px; padding-left: 60px}
	.quick_banner_new > li > a:before{width: 35px; height: 35px; left: 15px}
	.quick_banner_new > li > a:after{width: 20PX; height: 20px; background-size: contain; left: 22px;}
	.quick_banner_new > li > a > span{width: calc(100% - 75px)}
	.quick_banner_new > li{float: none; width: 100%;}
	.quick_banner_new > li br{display: none;}
	.quick_banner_new > li > a > span{font-size: 14px; min-height: inherit; top: 50%;}
	.quick_banner_new > li:nth-of-type(4) > a > span{font-size: 14px;}
	.quick_banner_new > li > a > span em{font-size: 14px; display: block; font-weight: 500; }
	.quick_banner_new > li > a:after, .quick_banner_new > li > a:before{top: 50%;}
}



/**********************************************************************************
	현황판_콘텐츠
**********************************************************************************/
/* 환자현황 - 일간*/
.liveNum_today { width:100%;}
.liveNum_today > li { float:left; width:50%; height:34px; overflow:hidden; background-color:#00c2ff; text-align:center;}
.liveNum_today > li:first-child { border-right:1px solid rgba(255,255,255,0.2); }
.liveNum_today > li > * { display:inline-block;font-size:15px; font-weight:600; letter-spacing:-0.05em; vertical-align:middle}
.liveNum_today *[class^="tit"] { color:#000; line-height:34px;}
.liveNum_today *[class^="data"] { margin-left:10px; padding-left:14px; padding-right:14px; font-size:18px; font-family:'Spoqa Han Sans'; font-weight:600; letter-spacing:0;  line-height:24px;/*  border-radius:12px; */ }
.liveNum_today > li:first-child {  background-color:#0b9bc9; }
.liveNum_today > li:nth-child(2) {  background-color:#53a000; }
.liveNum_today .tit1 {}
.liveNum_today .tit2 {}
.liveNum_today .data1 {color:#fff; /* background-color:#ffcc00;  */}
.liveNum_today .data2 {color:#fff; /* background-color:#70bf00; */ }
.liveNum_today::after { content:""; display:block; clear:both; }
@media (max-width:767px) {
	.liveNum_today > li {height:40px; }
	.liveNum_today *[class^="tit"] { font-size:14px; line-height:40px}
}

/* 환자현황 - 일간_20200629*/
.liveNum_today_new { display:table; width:100%; }
.liveNum_today_new > * { display:table-cell; vertical-align:middle; text-align:center;}
.liveNum_today_new .tit { position:relative; font-size:14px; font-weight:600; color:#2c322a; background-color:#d7d9d5; padding-right:40px; box-sizing:border-box  }
.liveNum_today_new .tit::after { content:""; position:absolute; right:-7px; top:50%; display:inline-block; width:0px; height:7px; margin-top:-7px; border-left:7px solid #d7d9d5; border-bottom:7px solid transparent; border-top:7px solid transparent;}
.liveNum_today_new .datalist {}
.liveNum_today_new .datalist .subtit { display:inline-block; margin-right:7px;  font-size:13px; line-height:inherit; color:#fff; vertical-align:middle; }
.liveNum_today_new .datalist .subtit::before {content:""; display:inline-block; width:24px; height:20px; margin-right:3px;vertical-align:middle; }
.liveNum_today_new .datalist .data { display:inline-block; font-size:19px; font-family:'Spoqa Han Sans'; font-weight:600;  letter-spacing:0; color:#ffd43e; vertical-align:inherit; }/*vertical-align:inherit;*/
.liveNum_today_new .datalist > ul { display:table; width:100%; height:100%; }
.liveNum_today_new .datalist > ul > li { display:table-cell; width:50%; background-color:#288000; vertical-align:middle}
.liveNum_today_new .datalist > ul > li:nth-child(1) { border-right:1px solid #539933; }
.liveNum_today_new .datalist > ul > li:nth-child(1) .subtit::before { background:url(../image/main/ico_case1.png) no-repeat 0 0;}
.liveNum_today_new .datalist > ul > li:nth-child(2) .subtit::before { background:url(../image/main/ico_case2.png) no-repeat 0 0;}

/* 환자현황다운로드 20210512 추가*/
.liveNum_today_new .tit a{position:absolute; top:12px; right:10px; background: url(../image/main/ico_down1.png) no-repeat; display:block; width:21px; height:21px; text-indent:-99999px; z-index:1000}
.liveNum_today_new .tit a:hover{cursor:pointer; top:15px; transition:all .2s}

@media (min-width:1180px) {
	.liveNum_today_new  { margin-top:8px; height:42px;}
	.liveNum_today_new .tit {width:30%; line-height:42px; }
	.liveNum_today_new .datalist {width:70%; height:42px;line-height:42px; }
}
@media (min-width:768px) and (max-width:1179px) {
	.liveNum_today_new  { margin-top:8px; height:42px;}
	.liveNum_today_new .tit {width:30%; line-height:42px; }
	.liveNum_today_new .datalist {width:70%; }
}
@media (max-width:767px) {
	.liveNum_today_new  { height:35px;}
	.liveNum_today_new .tit {width:30%; font-size:13px; line-height:35px; }
	.liveNum_today_new .datalist {width:70%; }
	.liveNum_today_new .datalist .subtit { font-size:12px; line-height:35px; vertical-align:middle}
	.liveNum_today_new .datalist .data { font-size:16px; line-height:40px; vertical-align:middle}
	.liveNum_today_new .datalist .subtit::before {display:none}
	
/* 환자현황다운로드 20210512 추가*/
  .liveNum_today_new .tit a{top:7px}
}

/* 환자현황 - 누적*/
.liveNum {position:relative;display:table;width:100%;margin-top: 3px;}
.liveNum > li { position:relative;  display:table-cell;text-align:center;  z-index:1}
.liveNum > li:nth-child(1) { background-color:#0099ff;}
.liveNum > li:nth-child(2) { background-color:#006699;}
.liveNum > li:nth-child(3) { position:relative; background-color:#174069;}
.liveNum > li:nth-child(4) { background-color:#808080;}
.liveNum > li > * { display:block; color:#fff;}
.liveNum > li > .tit { font-size:16px; line-height:22px; font-weight:600}
.liveNum > li > .num {font-family:'Spoqa Han Sans';font-weight:400;font-size: 29px;line-height:1.25em;}
.liveNum > li > .before { font-family:'Spoqa Han Sans'; font-weight:400;  font-size:13px;line-height:1.5em; letter-spacing:0.025em }
.liveNum .sign {position:absolute;left:-12px;top:50%;margin-top: -6px;width:24px;height:24px;font-size:16px;line-height:22px;font-weight:600;color:#000;background-color:#fff;border-radius:100%;text-align:center;z-index:2;}
.liveNum .mini { display:inline-block; /* margin-left:4px; */ font-family:'Noto Sans KR'; font-size:14px; line-height:26px; vertical-align:middle}
.liveNum .mini_tit { display:inline-block; font-family:'Noto Sans KR'; font-size:15px; line-height:12px; font-weight:400; vertical-align:top}
.liveNum .help { position:absolute; right:15px; top:15px; display:block; width:16px; height:16px; font-size:12px; line-height:14px; color:#fff; border:1px solid #fff; border-radius:100%; z-index:2}
.liveNum .help_info {position:absolute; left:50%; top:32px; display:none; margin-left:-70px; padding:5px; width:200px; height:auto; border:1px solid #2db7cb; background-color:#fff; border-radius:6px; overflow:hidden; z-index:3}
.liveNum .help_info .script_info { text-align:center; font-size:13px; line-height:16px; color:#005e6c; word-break:keep-all}
@media (min-width:1180px) {
	.liveNum > li {  padding:10px 6px 12px 6px; }
	.liveNum > li:nth-child(1) {width: 31%;padding-left:0;padding-right:4px;}
	.liveNum > li:nth-child(2) {width: 27%;}
	.liveNum > li:nth-child(3) {width: 23%;}
	.liveNum > li:nth-child(4) {width: 19%;}
	.liveNum > li > .num {letter-spacing:-0.05em}
	.liveNum > li > .tit { padding-left:4px;height:33px; vertical-align:top;}
}
@media (min-width:768px) and (max-width:1179px) {
	.liveNum > li {  padding:10px 6px 12px 6px; }
	.liveNum > li:nth-child(1) { width:30%;}
	.liveNum > li:nth-child(2) {width:24%; }
	.liveNum > li:nth-child(3) { width:25%; }
	.liveNum > li:nth-child(4) { width:21%; }
	.liveNum > li > .tit {height:33px; vertical-align:top;}
}
@media (max-width:767px) {
	.liveNum > li:nth-child(1) { width:30%;}
	.liveNum > li:nth-child(2) {width:24%; }
	.liveNum > li:nth-child(3) { width:25%; }
	.liveNum > li:nth-child(4) { width:21%; }		
	.liveNum > li { vertical-align:top; padding-top:10px; padding-bottom:12px; }
	.liveNum > li > .tit { font-size:14px; line-height:18px; height:30px; vertical-align:top}
	.liveNum > li > .num { font-size:18px; height:22px; }
	.liveNum > li > .before { font-size:12px; }
	.liveNum .sign {left:-9px;width: 18px;height:18px;line-height:16px;font-size:12px;margin-top: -4px;}
	.liveNum .mini { font-size:11px; }
	.liveNum .mini_tit  { font-size:12px; line-height:14px; }	
	.liveNum .help { right:2px; top:5px;}
	
}



/* 주간동향 */
.liveWeek { margin-top:12px; width:100%; min-height:250px; background-color:#fff; border-radius: 5px;}
.liveWeek h3 { width:100%; padding:7px 15px; background-color:#e6f6ff;text-align:center;}
.liveWeek h3 > .title { color:#174069;/*  border:1px solid #174069; */ }
.liveWeek .info_week { width:100%; text-align:center;}
.liveWeek .info_week .box_image { border:0 none; padding:0; margin:0}
@media (max-width:767px) {
	.liveWeek { width:100%; min-height:0; height:auto; padding-bottom:15px; overflow:hidden}
	.liveWeek h3 { text-align:center; }
	.liveWeek h3 > .info { display:block; width:100%; margin-top:5px; }
	.liveWeek .info_week { width:100%; } /* 주간 차트 */
}

/* 시도별지도 */
.livemap { display:table; width:100%; height:auto; min-height:605px; background-color:#fff; overflow:hidden;}
.livemap > * { display:table-cell; vertical-align:top;}
.livemap .main_maparea { width:65%; }
.livemap .maplist { width:35%; background-color:#f4f2f2}
.livemap .main_maparea { position:relative; width:370px; height:auto; padding:20px 15px; overflow:hidden}
.livemap .main_maparea #main_maplayout {position:relative; display:block; width:370px; height:480px; padding:0; margin:20px auto 0 auto; z-index:1}
.livemap .main_maparea #main_maplayout:hover,
.livemap .main_maparea #main_maplayout:focus { cursor:pointer}
.livemap .main_maparea .mapnotice { position:absolute; left:20px; top:25px; padding-left:20px; font-size:13px; line-height:16px; color:#333; z-index:2}
.livemap .main_maparea .mapnotice::before { content:"?"; display:inline-block; width:18px; height:18px; margin-left:-20px; margin-right:4px; line-height:18px; font-size:13px; font-weight:600; color:#fff; text-align:center; background-color:#ff9000; border-radius:100%; vertical-align:middle}
.livemap .main_maparea .mapnotice .info { color:#ee5858; }
.livemap .main_maparea button[data-city^="map_city"] { position: absolute; display:block; margin:0; padding:3px 10px; background-color:#fff; text-align:center; border:0 none; box-shadow:3px 3px 2px rgba(100, 100, 100, 0.2);}
.livemap .main_maparea button[data-city^="map_city"]  > * { display:block; width:100%; line-height:14px;}
.livemap .main_maparea button[data-city^="map_city"] .name { font-size:13px; color:#333; font-weight:600}
.livemap .main_maparea button[data-city^="map_city"] .num { font-size:14px; font-weight:600; color:#e30000;}
.livemap .main_maparea button[data-city^="map_city"] .before { font-size:12px; color:#ea4c4c; }
.livemap .main_maparea button[data-city^="map_city"].select { background-color:#141414;}
.livemap .main_maparea button[data-city^="map_city"].select > * { color:#fff}
.livemap .main_maparea button[data-city^="map_city"].select .name {color:#fff;}
.livemap .main_maparea button[data-city^="map_city"].select .num { color:#fff;}
.livemap .main_maparea button[data-city^="map_city"].select .before { color:#ffcfcf; }
.livemap .main_maparea button[data-city="map_city1"] { left:130px; top:85px;} /*서울*/
.livemap .main_maparea button[data-city="map_city2"] { left:280px; top:360px;}/*부산*/
.livemap .main_maparea button[data-city="map_city3"] { left:240px; top:240px;} /*대구*/
.livemap .main_maparea button[data-city="map_city4"] { left:30px; top:55px;} /*인천*/
.livemap .main_maparea button[data-city="map_city5"] { left:90px; top:350px;} /*광주*/
.livemap .main_maparea button[data-city="map_city6"] { left:135px; top:225px;} /*대전*/
.livemap .main_maparea button[data-city="map_city7"] { left:310px; top:300px;} /*울산*/
.livemap .main_maparea button[data-city="map_city8"] { left:100px; top:140px;} /*세종*/
.livemap .main_maparea button[data-city="map_city9"] { left:120px; top:25px;} /*경기*/
.livemap .main_maparea button[data-city="map_city10"] { left:200px; top:60px;} /*강원*/
.livemap .main_maparea button[data-city="map_city11"] { left:160px; top:150px;} /*충북*/
.livemap .main_maparea button[data-city="map_city12"] { left:65px; top:180px;} /*충남*/
.livemap .main_maparea button[data-city="map_city13"] { left:100px; top:270px;} /*전북*/
.livemap .main_maparea button[data-city="map_city14"] { left:20px; top:300px;} /*전남*/
.livemap .main_maparea button[data-city="map_city15"] { left:250px; top:180px;} /*경북*/
.livemap .main_maparea button[data-city="map_city16"] { left:180px; top:320px;} /*경남*/
.livemap .main_maparea button[data-city="map_city17"] { left:25px; top:460px;} /*제주*/
.livemap .main_maparea button[data-city="map_city18"] { left:270px; top:420px;} /*검역*/

.livemap .maplist { position:relative; }
.livemap .maplist h3 { width:100%; padding:27px 0 10px 76px; z-index:1} 
.livemap .maplist h3 > .title { padding-left:12px; padding-right:12px; color:#725454; line-height:20px; border:1px solid #c27171;}
.livemap .maplist h3 > .title > span { display:inline-block;vertical-align:middle;}
.livemap .maplist .info_map_btn { display:inline-block; margin-left:4px; width:16px; height:16px; text-align:center; background-color:#a3a3a3; color:#fff; font-size:12px; font-weight:400; line-height:16px; border-radius:13px;vertical-align:middle;}
.livemap .maplist .info_map_script { display:none;  position:absolute; left:50%; top:54px; width:160px; margin-left:-70px; z-index:2}
.livemap .maplist .info_map_script > a { display:block; width:100%; height:auto; padding:6px 10px; font-size:13px; line-height:1.25em; text-align:left; border:1px solid #e1acac; background-color:#fff; color:#c37474; border-radius:6px;}
.livemap .maplist > div { position:absolute; left:0; top:0; width:0; height:0; line-height:0; overflow:hidden; }
.livemap .maplist > div.open { position:relative;width:100%; height:auto; line-height:inherit; overflow:inherit;}
.livemap .maplist .cityname { position:absolute; top:-40px; left:20px; font-size:26px; font-weight:600; color:#000; z-index:2} 
.livemap .maplist .mapview { padding:0 12px;}
.livemap .maplist .mapview .citychart { position:relative; width:100%; height:140px; background-position:0 0; background-repeat:no-repeat;}
.livemap .maplist .mapview .citychart > .citytit { position:absolute; display:block; top:40%; margin-top:-5px; width:100%; height:auto; font-family:'Spoqa Han Sans'; font-size:23px; font-weight:600; color:#b60000; text-align:center;}
.livemap .maplist .mapview .citychart > .citytit .tit_sub {  font-family:'Noto Sans KR'; font-size:13px; font-weight:400; color:#555; line-height:1.25em;}
.livemap .maplist .mapview .cityinfo {width:100%; }
.livemap .maplist .mapview .cityinfo > li { display:table; width:100%;}
.livemap .maplist .mapview .cityinfo > li > * { display:table-cell; width:50%; padding:4px 0; font-weight:600; }
.livemap .maplist .mapview .cityinfo .tit { font-size:14px; color:#555; font-weight:600}
.livemap .maplist .mapview .cityinfo .num { font-family:'Spoqa Han Sans';  font-size:18px;color:#000 }
.livemap .maplist .mapview .cityinfo *[class^="sub_"] {font-size:12px; letter-spacing:-0.01em; }
.livemap .maplist .mapview .cityinfo .sub_tit { color:#666;}
.livemap .maplist .mapview .cityinfo .sub_tit.red { color:#da4848}
.livemap .maplist .mapview .cityinfo .sub_num { font-weight:600; }
.livemap .maplist .mapview .cityinfo .sub_num.red { color:#cf0000;}

.livemap .maplist #mapAll .citychart { height:160px;} /* 전국 */
.livemap .maplist #mapAll .citychart *[class^='allcity_info'] {position:absolute; display:block; width:auto; height:auto;font-weight:600; letter-spacing:-0.075em; text-align:center; }
.livemap .maplist #mapAll .citychart .allcity_info1 {left:50%; top:60%; margin-left:-30px; font-size:15px; color:#fff;}
.livemap .maplist #mapAll .citychart .allcity_info2 {left:50%; top:40%; width:50px; margin-left:-120px; font-size:13px; color:#666;}
.livemap .maplist #mapAll .citychart .allcity_info3 {left:50%; top:15%; width:40px; margin-left:-100px; font-size:13px; color:#666;}
.livemap .maplist #mapAll .citychart .allcity_info4 {left:50%; top:5%; margin-left:-78px; font-size:13px; color:#666;}
.livemap .maplist #mapAll .citychart .allcity_info5 {right:50%; top:10.5%; margin-right:-85px; font-size:13px; color:#666;}
.livemap .maplist #mapAll .citychart .num { color:#333}
@media (min-width:768px) and (max-width:1179px) {
	.livemap .maplist .mapview .citychart { height:160px; background-position:center -40px;}
	.livemap .maplist .mapview .citychart > .citytit { margin-top:-20px;}
	.livemap .maplist #mapAll .citychart {background-position:center 0;}	
}
@media (max-width:767px) {
	.livemap { display:block; min-height:0;}
	.livemap > * { display:block;}
	.livemap .main_maparea { width:100%;padding:15px;}
	.livemap .main_maparea #main_maplayout { position:relative; display:block; width:370px; height:480px; margin:0 auto; padding:0;}
	.livemap .main_maparea .mapnotice { left:20px;}
	.livemap .maplist { width:100%; }
	.livemap .maplist h3 { padding:10px 0 10px 70px; height:40px;}
	.livemap .maplist .info_map_script { left:5%; top:40px; width:90%; margin-left:0;}
	.livemap .maplist .cityname { top:-30px; left:20px; font-size:19px;} 
	.livemap .maplist .mapview { display:table; width:100%; padding:5px 16px; }
	.livemap .maplist .mapview .citychart { display:table-cell; width:50%; height:140px; background-position:center 0; background-size:auto 190px;}
	.livemap .maplist .mapview .citychart > .citytit .tit_sub { font-size:12px}
	.livemap .maplist .mapview .cityinfo {display:table-cell; width:50%; }
	.livemap .maplist .mapview .cityinfo > li > * { padding:3px 0;}
	.livemap .maplist .mapview .cityinfo .tit { font-size:13px;}
	.livemap .maplist .mapview .cityinfo .num { font-size:16px;}
	
	.livemap .main_maparea button[data-city="map_city1"] { left:130px; top:115px;} /*서울*/
	.livemap .main_maparea button[data-city="map_city2"] { left:290px; top:390px;}/*부산*/
	.livemap .main_maparea button[data-city="map_city3"] { left:270px; top:280px;} /*대구*/
	.livemap .main_maparea button[data-city="map_city4"] { left:40px; top:95px;} /*인천*/
	.livemap .main_maparea button[data-city="map_city5"] { left:90px; top:390px;} /*광주*/
	.livemap .main_maparea button[data-city="map_city6"] { left:155px; top:255px;} /*대전*/
	.livemap .main_maparea button[data-city="map_city7"] { left:330px; top:340px;} /*울산*/
	.livemap .main_maparea button[data-city="map_city8"] { left:100px; top:180px;} /*세종*/
	.livemap .main_maparea button[data-city="map_city9"] { left:140px; top:40px;} /*경기*/
	.livemap .main_maparea button[data-city="map_city10"] { left:240px; top:70px;} /*강원*/
	.livemap .main_maparea button[data-city="map_city11"] { left:180px; top:190px;} /*충북*/
	.livemap .main_maparea button[data-city="map_city12"] { left:55px; top:240px;} /*충남*/
	.livemap .main_maparea button[data-city="map_city13"] { left:90px; top:300px;} /*전북*/
	.livemap .main_maparea button[data-city="map_city14"] { left:20px; top:360px;} /*전남*/
	.livemap .main_maparea button[data-city="map_city15"] { left:270px; top:220px;} /*경북*/
	.livemap .main_maparea button[data-city="map_city16"] { left:200px; top:360px;} /*경남*/
	.livemap .main_maparea button[data-city="map_city17"] { left:45px; top:500px;} /*제주*/
	.livemap .main_maparea button[data-city="map_city18"] { left:230px; top:380px;} /*검역*/
	
	.livemap .maplist #mapAll .citychart { height:185px; background-position:center 0px;}/* 전국 */
	
}
@media (max-width:639px) {
	.livemap .main_maparea #main_maplayout {width:310px; height:450px; padding-top:20px;}
	.livemap .maplist .mapview { display:block; width:100%;}
	.livemap .maplist .mapview .citychart { display:block;width:100%; height:120px; background-position:center -10px; background-size:auto 140px;}
	.livemap .maplist .mapview .citychart > .citytit {font-size:16px;}
	.livemap .maplist .mapview .cityinfo {display:block; width:100%;}
	.livemap .maplist .mapview .cityinfo .tit { font-size:12px;}
	.livemap .maplist .mapview .cityinfo .num { font-size:14px;}	
	
	.livemap .main_maparea button[data-city^="map_city"] { padding:2px 9px;}
	.livemap .main_maparea button[data-city^="map_city"]  > * { line-height:14px; letter-spacing:-0.075em}
	.livemap .main_maparea button[data-city^="map_city"] .name { font-size:12px;}
	.livemap .main_maparea button[data-city^="map_city"] .num { font-size:13px;}
	.livemap .main_maparea button[data-city^="map_city"] .before { font-size:11px; letter-spacing:-0.1em}
	
	.livemap .main_maparea button[data-city="map_city1"] { left:110px; top:100px;} /*서울*/
	.livemap .main_maparea button[data-city="map_city2"] { left:200px; top:320px;}/*부산*/
	.livemap .main_maparea button[data-city="map_city3"] { left:200px; top:230px;} /*대구*/
	.livemap .main_maparea button[data-city="map_city4"] { left:20px; top:95px;} /*인천*/
	.livemap .main_maparea button[data-city="map_city5"] { left:80px; top:300px;} /*광주*/
	.livemap .main_maparea button[data-city="map_city6"] { left:115px; top:210px;} /*대전*/
	.livemap .main_maparea button[data-city="map_city7"] { left:260px; top:280px;} /*울산*/
	.livemap .main_maparea button[data-city="map_city8"] { left:80px; top:160px;} /*세종*/
	.livemap .main_maparea button[data-city="map_city9"] { left:100px; top:40px;} /*경기*/
	.livemap .main_maparea button[data-city="map_city10"] { left:180px; top:70px;} /*강원*/
	.livemap .main_maparea button[data-city="map_city11"] { left:140px; top:150px;} /*충북*/
	.livemap .main_maparea button[data-city="map_city12"] { left:35px; top:190px;} /*충남*/
	.livemap .main_maparea button[data-city="map_city13"] { left:70px; top:240px;} /*전북*/
	.livemap .main_maparea button[data-city="map_city14"] { left:20px; top:320px;} /*전남*/
	.livemap .main_maparea button[data-city="map_city15"] { left:220px; top:170px;} /*경북*/
	.livemap .main_maparea button[data-city="map_city16"] { left:150px; top:290px;} /*경남*/
	.livemap .main_maparea button[data-city="map_city17"] { left:25px; top:400px;} /*제주*/	
	.livemap .main_maparea button[data-city="map_city18"] { left:230px; top:380px;} /*검역*/	
	
	.livemap .maplist #mapAll .citychart { height:160px; background-size:auto auto}/* 전국 */
}



/**********************************************************************************
	정보콘텐츠
**********************************************************************************/
.m_con_layout { clear:both; width:100%; height:auto; overflow:hidden; padding-top:20px;}

/* main popupzone */
.m_popupzone{position:relative; float:left; }
.m_popupzone .slide_btn [class^="btn_"] {position:absolute; top:45%; display:block; width:32px; height:32px; z-index:11;}
.m_popupzone .slide_btn .btn_prev {left:10px;background:url(/static/main/img/main/btn_pre.png) no-repeat;}
.m_popupzone .slide_btn .btn_next {right:10px;background:url(/static/main/img/main/btn_next.png) no-repeat;}
.m_popupzone .slide_list {overflow:hidden;}
.m_popupzone .slide_list ul li a,
.m_popupzone .slide_list ul li a img {display:block;}
.m_popupzone .ico_window {display:none;}
.m_popupzone .slide_btn .slide_control{position:absolute;bottom:30px;left:50%;margin-left:-8px}
.m_popupzone .slide_btn .slide_control a{display:block;width:16px;height:16px;background-repeat:no-repeat;background-position:center}
.m_popupzone .slide_btn .slide_control a.btn_pause{background-image:url(/static/main/img/main/ico_pause.png)}

@media (min-width:1180px) {
	.m_popupzone { width:100%; height:440px; margin-right:20px;}
	.m_popupzone .slide_list,
	.m_popupzone .slide_list *:not(img) {width:100%; height:200px; z-index: 0;}
	.m_popupzone .slide_list ul li img {height:100%;}
	.m_popupzone .slide_btn [class^="btn_"]{z-index:1 !important;}
}
@media (min-width:1180px) {
	.m_popupzone {width:100%;  height:auto; overflow:hidden}
	.m_popupzone .slide_list,
	.m_popupzone .slide_list * {width:100%;}
	.m_popupzone .slide_list ul li img {max-width:100%;}
}
@media (min-width:1180px) {
	.m_popupzone {width:100%;height:auto;margin:0;float:none;}
	.m_popupzone .slideBox {width:100%;}
	.m_popupzone .slideBox ul li {}
	.m_popupzone .slide_list,
	.m_popupzone .slide_list * {height:auto;width:100%;}
	.m_popupzone .slide_list ul li img {width:100% !important;}
	.m_popupzone .slide_btn [class^="btn_"] {top:40%;}
}

/* 뉴스 & 이슈 / fact*/
.m_newsarea { position:relative; float:left; width:680px; height:auto; }
.m_newsarea > div {position:relative;float:left; width:50%; }
.m_newsarea > div:nth-child(2) { float:left; width:49%; margin-left:1%;}
.m_newsarea h3 { display:block; width:100%; padding:20px 0 10px; font-size:16px; font-weight:600; text-align:center; }
.m_newsarea .more {position:absolute;left:50%;margin-left:44px;top:18px;display:inline-block; margin-bottom:-3px; padding-left:8px; padding-right:8px; color:#fff; line-height:20px; font-size:12px; font-weight:400; border-radius:12px; background-color:#009fd1; vertical-align:bottom; }
.m_newsarea .more:hover, .m_newsarea .more:focus{background: #333}

@media (min-width:1180px) {
	.m_newsarea {height:180px;}
	.m_newsarea > div { height:180px;  }
}
@media (min-width:768px) and (max-width:1179px) {
	.m_newsarea { float:none; width:100%; height:180px;}
	.m_newsarea > div { height:180px; border-top: 4px solid #4677C2}
}
@media (max-width:767px) {
	.m_newsarea { float:none; display:block; width:100%; }
	.m_newsarea > div { display:block; width:100%; border-top: 4px solid #4677C2}
	.m_newsarea > div:nth-child(2) { float:none; width:100%; margin-left:0;}
	.m_newsarea h3{padding: 10px 0 10px;}
	.m_newsarea .more{top: 8px}
}

.m_news {  background-color:#fff;}
.m_news h3 { color:#145693 }
.m_news h3 .more {}
.m_news h4 { display:inline-block; margin-left:10px; padding:0 3px; font-size:14px; font-weight:600; line-height:1.7em; color:#164068; letter-spacing:-0.05em}
.m_news h4.tit1 {}
.m_news h4.tit2 {}
.m_fact { position:relative; background-color:#fff;}
.m_fact h3 { color:#145693 }
.m_fact h3 .more {}
.m_text_list { width:100%; padding:4px 7px;}
.m_text_list > li { width:100%; padding:3px 0; }
.m_text_list > li::before { content:"·"; display:inline-block; width:12px; font-size:13px; font-weight:600; line-height:15px; text-align:center; color:#333; vertical-align:top}
.m_text_list > li a { display:inline-block; max-width:88%; font-size:14px; line-height:16px; color:#222; letter-spacing:-0.05em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.m_text_list > li a:hover, .m_text_list > li a:focus{text-decoration: underline}
.m_text_list > li .ico_new { display:inline-block; margin-left:4px; width:16px; height:16px; font-size:11px; line-height:18px; color:#fff; background-color:#f69622; text-align:center; vertical-align:top; border-radius:100%}
.m_now_banner { position:absolute; left:0; bottom:0; display:block; width:100%; height:60px; background:url(../image/main/bigbanner_backimg.png) no-repeat right bottom #b78146;}
.m_now_banner > a { display:block; width:100%; height:100%; padding:18px 0 7px 10px;}
.m_now_banner .b_tit { display:inline-block; padding-left:30px; font-size:16px; line-height:28px; font-weight:600; color:#fff; background:url(../image/main/bigbanner_icon.png) no-repeat 0 center; }
.m_fact .ico_window {display:none;}
.m_news .ico_window { display:none;}
@media (min-width:1180px) {	
	.m_now_banner > a { text-align:left;}
	.m_fact .m_text_list { margin-top:23px;}
}
@media (min-width:768px) and (max-width:1179px) {
	.m_now_banner > a { text-align:center;}
	.m_fact .m_text_list { margin-top:16px;}
}
@media (max-width:767px) {
	.m_news { height:180px; }
	.m_fact {height:auto; overflow:hidden; }
	.m_now_banner { position:relative; height:45px;}
	.m_now_banner > a {padding-top:8px; }
	.m_now_banner > a { text-align:left;}
}

/**********************************************************************************
	힘내라 대한민국
**********************************************************************************/
.victory_korea { clear:both; width:100%; }
.victory_korea h3 { position:relative; display:block; float:left; width:25%; height:100%; padding:20px; background:url(../image/main/victory_bg.png) no-repeat right center; background-color:#3AA66B;}
.victory_korea h3 > * {   display:inline-block; color:#ffffff; }
.victory_korea h3 .txt { font-size:17px; line-height:1.5em; font-weight:600;}
.victory_korea h3 .info { position:absolute; left:14px; bottom:12px; font-size:13px; letter-spacing:-0.05em; }
.victory_korea .vod_list { float:left; width:75%; padding:14px; background-color:#ccc;}
.victory_korea .vod_list > li { float:left; margin-left:1.3333%; width:32%; background-color:#ddd; }
.victory_korea .vod_list img { max-width:100%;}
.victory_korea  .ico_window {display:none;}

@media (min-width:1180px) {	
	.victory_korea { height:190px;}
	.victory_korea .vod_list { height:190px;}
}
@media (min-width:768px) and (max-width:1179px) {
	.victory_korea { height:180px;}
	.victory_korea .vod_list { height:180px;}
	.victory_korea h3 .txt { font-size:16px; line-height:1.25em;}
}
@media (max-width:767px) {
	.victory_korea > div { width:100%;}
	.victory_korea h3 { float:none; width:100%; height:auto; padding:14px 20px; background-size:auto 100px;}
	.victory_korea h3 .txt { width:100%; font-size:14px; text-align:center;}
	.victory_korea h3 .txt br:nth-child(1) { display:none;}
	.victory_korea h3 .txt br:nth-child(3) { display:none;}
	.victory_korea h3 .info { display:none}
	.victory_korea .vod_list { float:none; width:100%; padding:10px;}
	.victory_korea .vod_list {padding:0; }
	.victory_korea .vod_list > li { float:none; margin-left:0; width:100%; padding:5px; text-align:center;}
	.victory_korea .vod_list > li img { max-width:100%; }
}




