{% extends 'base.html' %}
{% load bootstrap4 %}

{% block html_header %}

<script>
function to_diagnosis() {
    document.location.href = '/diagnosis/'
}
</script>

{% endblock %}

{% block html_body %}

<div class="container">
    <div id="content" class="content">
        <div class="data_table">
          <table>
            <colgroup>
              <col style="width:50%" />
              <col style="width:50%" />
            </colgroup>
            <tr>
              <th scope="row" style="font-size:20px">{{ my_question.question_text }}</th>
              <td class="ta_l"><ul class="s_listin_mdot mgt0"></ul>
                <ul>
                    <form action="/diagnosis/{{ my_question.id }}/vote/"
                          method="post">
                        {% csrf_token %}
                        {% for choice in my_question.choice_set.all %}
                            <br>
                            <input type="radio" name="choice"
                                   id="my_{{ forloop.counter }}"
                                   value="{{ choice.id }}">
                            <label for="my_{{ forloop.counter }}" style="font-size:20px">{{ choice.choice_text }}</label><br>
                        {% endfor %}
                        <br>
                        <input type="submit" value="제출하기">
                        <input type="button" value="질문으로 돌아가기" onclick="to_diagnosis()">
                    </form>
                </ul>
              </td>
            </tr>
          </table>
        </div>
    </div>
</div>

{% endblock %}