{% extends 'base.html' %}
{% load bootstrap4 %}

{% block html_header %}

{% endblock %}

{% block html_body %}

<div class="container">
    <div id="content" class="content">
        <div class="data_table">
          <table>
            <colgroup>
              <col style="width:20%" />
              <col style="width:80%" />
            </colgroup>
            <tr>
              <th scope="row" style="font-size:20px">증상</th>
              <td class="ta_l"><ul class="s_listin_mdot mgt0"></ul>
                <ul>
                {% for question in q_list %}
                    <li><a href="/diagnosis/{{ question.id }}/" style="color:black; font-size:17px;">{{ question.question_text }}</a></li><br>
                {% endfor %}
                </ul>
              </td>
            </tr>
          </table>
        </div>
    </div>
</div>

{% endblock %}