{% extends 'base.html' %}
{% load bootstrap4 %}

{% block html_header %}

<script src="/static/main/js/vaccineNum.js"></script>
<script src="/static/main/js/coronaNum.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<style>
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
#container {
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

#outer-container {
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
}

#outer-container .controls {
  display: table;
  margin: 0 auto;

}

#outer-container button {
    margin: 0 auto;
    margin-bottom: 40px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    padding: .375rem 31.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
#parentContainer {
  min-width: 320px;
  max-width: 800px;
}

#play-controls {
  position: absolute;
  left: 100px;
  top: 350px;
}

#play-pause-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 3px;
  background: #f8f8f8;

}

#play-range {
  transform: translateY(2.5px);
}
</style>

{% endblock %}

{% block html_body %}

<!-- Live_container -->

<div class="mainlive_container" id="content">
    <div class="container">
        <div class="liveboard_layout">
            <div id="outer-container">
            <div id="container"></div>
              <div class="controls">
                <button class="md-trigger" id="start" style="background-color: #8557ab">
                  Start
                </button>
              </div>
            </div>
            <!-- // 예방접종 현황 시작 -->
            <div class="vaccineNum">
                <h2 class="title1">예방접종현황<span class="livedate">(02.21. 00시 기준, '21.2.26. 이후 누계, 단위: %, 명)</span></h2>
                    <div>
                        <div class="vaccine_list">
                            <div class="inner cl_b_aftr">
                                <div class="box">
                                    <div class="item"><span>1차접종</span></div>
                                    <div>
                                        <ul>
                                            <li class="percent" id="percent1">87.4<span>%</span></li>
                                            <li class="person" id="person1T"><span>누적</span>44,799,973</li>
                                            <li class="person" id="person1N"><span>신규</span>305 <img src="/static/main/img/main/vaccine_up_icon2.png" alt=""></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="item"><span>2차접종</span></div>
                                    <div>
                                        <ul>
                                            <li class="percent" id="percent2">86.5<span>%</span></li>
                                            <li class="person" id="person2T"><span>누적</span>44,300,971</li>
                                            <li class="person" id="person2N"><span>신규</span>520 <img src="/static/main/img/main/vaccine_up_icon2.png" alt=""></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="item"><span>3차접종</span></div>
                                    <div>
                                        <ul>
                                            <li class="percent" id="percent3">61.9<span>%</span></li>
                                            <li class="person" id="person3T"><span>누적</span>30,464,700</li>
                                            <li class="person" id="person3N"><span>신규</span>7,253 <img src="/static/main/img/main/vaccine_up_icon2.png" alt=""></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="child_list">
                            <div class="item"><span>일일 확진자 발생 현황</span></div>
                            <div class="inner cl_b_aftr">
                                <div class="box">
                                    <ul>
                                        <br>
                                        <li class="object" id="livedate2">기준일</li>
                                        <li class="percent" id="coronaNum">82.9</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 예방접종 현황 종료 -->
                <!--m_toggle-->
                <div class="liveToggleOuter">
                    <div>
                        <div class="live_left">
                            <div class="liveQlinkOuter">
                                <h3 class="hdn">배너 모음</h3>
                                <ul class="quick_banner_new">
                                    <li>
                                        <a href="https://www.mohw.go.kr/react/popup_200128.html" target="_blank" title="새창"><span>선별진료소 · 임시선별검사소</span></a>
                                    </li>
                                    <li>
                                        <a href="https://ncv.kdca.go.kr/menu.es?mid=a10116020000" target="_blank" title="새창"><span>코로나19 예방접종 바로알기</span></a>
                                    </li>
                                </ul>
                            </div>
                            <!--퀵배너 바로가기 //-->
                        </div><!-- live_left -->
                    </div>
                </div>
                <br><br><br><br><br><br>
                <div class="m_con_layout">
                    <!-- // 슬라이드 배너 시작 -->
                    <div class="m_popupzone">
                        <div class="slide_btn">
                            <a class="btn_prev" href="/static/main/img/main/btn_pre.png"><span class="hdn">팝업존 이전보기</span></a>
                            <a class="btn_next" href="/static/main/img/main/btn_next.png"><span class="hdn">팝업존 다음보기</span></a>
                            <div class="slide_control">
                                <a class="btn_pause" href="/static/main/img/main/ico_pause.png"><span class="hdn">팝업존 정지</span></a>
                            </div>
                        </div>
                        <div class="slide_list">
                            <div class="slide_list">
                                <ul>
                                    <li><a target="_blank" href=" http://ncov.mohw.go.kr/upload/viewer/skin/doc.html?fn=1646039955403_20220228181915.hwp&amp;rs=/upload/viewer/result/202203/ "><img alt="접종증명음성확인제도(방역패스)시행일시중단(3월1일0시부터)" src="/static/main/img/banner/banner1.jpg" /></a></li><li><a target="_blank" href=" https://www.kdca.go.kr/board/board.es?mid=a20507020000&amp;bid=0019&amp;act=view&amp;list_no=718596&amp;tag=&amp;nPage=1  "><img alt="코로나19 확진을 받은 환자 및 밀접접촉자 (가족, 동거인)을 위한 안내문 자세히 보기" src="/static/main/img/banner/banner2.jpg" /></a></li><li><a target="_blank" href=" https://youtu.be/RO8H8Fjahp0 "><img alt="누구나 따라할 수 있어요! 코로나19 자가검사키트 사용법과 행동요령 (식품의약품안전처, 질병관리청)" src="/static/main/img/banner/banner3.jpg" /></a></li><li><a target="_blank" href=" https://www.youtube.com/embed/kdca?list=PLQ1C5YbGRe_ICEIyhKlFv5CrENv38quKk&amp;autoplay=1 "><img alt="코로나 바이러스감염증-19 정부대응발표 LIVE 시청 가능! 자세히보기" src="/static/main/img/banner/banner4.jpg" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- // 슬라이드 배너 종료-->
                </div>
            </div>
        </div>
    </div>
<!-- Live_container //-->
{% endblock %}

{% block script %}
    <script>

let globalData = [];
var globalData1
let chart;

let duration = 10; // Determines how long the animation between new points should be take
let startIterator = 5; // Determines how many points will be rendered on chart's init
let currentIterator = startIterator;
let maxIterator = 1;

let guiButton = document.getElementById('start');
let guiButtonState = 'Start';
let intervalId;


// Fetch data:
fetch('https://pomber.github.io/covid19/timeseries.json')
  .then(response => response.json())
  .then(data => {
    parseData(data);
    createChart();
    initEvents();
  });

function initEvents() {
  guiButton.addEventListener('click', function() {
    if (guiButtonState === 'Stop') {
      // User clicked "Stop" -> stop animation and allow to resume
      intervalId = clearInterval(intervalId);
      guiButton.innerText = guiButtonState = 'Resume';
    } else {
      // If animation has finished, recreate chart
      if (guiButtonState === 'Restart') {
        createChart();
      }
      guiButton.innerText = guiButtonState = 'Stop';
      // Start animation:
      redrawChart(currentIterator += 1);
      intervalId = setInterval(function() {
        // If we reached last available point, stop animation:
        if (currentIterator === maxIterator) {
          intervalId = clearInterval(intervalId);
          currentIterator = startIterator;
          guiButton.innerText = guiButtonState = 'Restart';
        } else {
          redrawChart(currentIterator += 1);
        }
      }, duration);
    }
  });
}

function redrawChart(index) {
  // Set new subtitle on every redraw
  chart.setTitle(null, {
    text: Highcharts.dateFormat('%Y-%m-%d', globalData[0].data[index][0])
  }, false);

  // To each series, add a point:
  chart.series.forEach(
    (series, seriesIndex) =>
    series.addPoint(
      globalData[seriesIndex].data[index],
      false,
      false,
      false
    )
  );

  // Now, once everything is updated, redraw chart:
  chart.redraw({
    duration
  });
}

function parseData(data) {
  Highcharts.objectEach(
    data,
    // Prepare Highcharts data-format:
    // series: [{
    //   data: [ [x, y], [x, y], ..., [x, y]]
    // }]
    (countryData, country) => globalData.push({
      name: country,
      data: countryData.map(p => [Date.parse(p.date), p.confirmed])
    })
  );
  console.log(globalData)
  var globalData1 =[globalData[93], globalData[88], globalData[176]]
  globalData = globalData1
console.log(globalData)
  maxIterator = Math.max.apply(null, globalData.map(series => series.data.length - 1));
}

function createChart() {

  chart = Highcharts.chart('container', {
    chart: {
      type: 'line',
      marginLeft: 100
    },

    legend: {
      layout: 'proximate',
      align: 'right'
    },


    title: {
      floating: true,
      align: 'left',
      x: 93,
      y: 20,
      text: '확진자 수'
    },
    subtitle: {
      floating: true,
      align: 'left',
      y: 60,
      x: 90,
      text: Highcharts.dateFormat('%Y-%m-%d', globalData[0].data[globalData[0].data.length - 1][0]),
      style: {
        fontSize: '30px'
      }
    },
    tooltip: {
      split: true
    },

    yAxis: {
      title: {
        text: ''
      },
      maxPadding: 0.2
    },

    xAxis: {
      gridLineWidth: 2,
      type: 'datetime'
    },


    plotOptions: {
      series: {
        animation: {
          duration
        },
        marker: {
          symbol: 'circle'
        }
      }
    },
    series: globalData.map(series => {
      return {
        name: series.name,
        data: series.data.slice(0, 10)
      }
    })
  });
}
/*

// Fetch data:
fetch('https://pomber.github.io/covid19/timeseries.json')
  .then(response => response.json())
  .then(data => {
    parseData(data);
    createChart();
    initEvents();
  });

function initEvents() {
  guiButton.addEventListener('click', function() {
    if (guiButtonState === 'Stop') {
      // User clicked "Stop" -> stop animation and allow to resume
      intervalId = clearInterval(intervalId);
      guiButton.innerText = guiButtonState = 'Resume';
    } else {
      // If animation has finished, recreate chart
      if (guiButtonState === 'Restart') {
        createChart();
      }
      guiButton.innerText = guiButtonState = 'Stop';
      // Start animation:
      redrawChart(currentIterator += 1);
      intervalId = setInterval(function() {
        // If we reached last available point, stop animation:
        if (currentIterator === maxIterator) {
          intervalId = clearInterval(intervalId);
          currentIterator = startIterator;
          guiButton.innerText = guiButtonState = 'Restart';
        } else {
          redrawChart(currentIterator += 1);
        }
      }, duration);
    }
  });
}

function redrawChart(index) {
  // Set new subtitle on every redraw
  chart.setTitle(null, {
    text: Highcharts.dateFormat('%Y-%m-%d', globalData[0].data[index][0])
  }, false);


	const newValues = globalData.map(series => series.data[index][1]);
	const maxIndex = newValues.indexOf(Math.max.apply(null, newValues));

  // To each series, add a point:
  chart.series.forEach(
    (series, seriesIndex) => {
			const enabled = maxIndex === seriesIndex && ((index < 5) || (index % 5 === 0));
      series.addPoint(
				{
          x: globalData[seriesIndex].data[index][0],
          y: globalData[seriesIndex].data[index][1],
					dataLabels: {
						enabled
					},
					marker: {
						enabled
					}
        },
        false,
        false,
        false
      );
    }
  );

  // Now, once everything is updated, redraw chart:
  chart.redraw({
    duration
  });
}

function parseData(data) {
    console.log(data)
  Highcharts.objectEach(
    data,
    // Prepare Highcharts data-format:
    // series: [{
    //   data: [ [x, y], [x, y], ..., [x, y]]
    // }]
    (countryData, country) => {
			if (country !== 'Diamond Princess' && country !== 'Holy See') {
				globalData.push({
					name: country,
					data: countryData.map(p => [Date.parse(p.date), p.confirmed / getCountryPopulation(country) * 1000])
				});
			}
		}
  );
console.log(globalData)

  // Sort and limit dataset:
  globalData = globalData
    .sort((countryA, countryB) => {
      let countryALen,
        countryBLen;

      if (!countryA || !countryA.data || countryA.data.length === 0) {
        return 1;
      }

      if (!countryB || !countryB.data || countryB.data.length === 0) {
        return -1;
      }

      return countryB.data[countryB.data.length - 1][1] - countryA.data[countryA.data.length - 1][1];
    })
    .splice(63, 1);  // 19  // 63


  maxIterator = Math.max.apply(null, globalData.map(series => series.data.length - 1));
}


function createChart() {
	function format(y) {
    return y < 0.01 ? '<0.01' : '~' + y.toFixed(2);
  }

  chart = Highcharts.chart('container', {
    chart: {
      type: 'line',
      marginLeft: 100
    },

    legend: {
      layout: 'proximate',
      align: 'right'
    },


    title: {
      floating: true,
      align: 'left',
      x: 93,
      y: 20,
      text: 'Confirmed cases per country per 1000 inhabitants'
    },
    subtitle: {
      floating: true,
      align: 'left',
      y: 60,
      x: 90,
      text: Highcharts.dateFormat('%Y-%m-%d', globalData[0].data[globalData[0].data.length - 1][0]),
      style: {
        fontSize: '40px'
      }
    },
    tooltip: {
      split: true,
      pointFormatter: function() {
        var value = format(this.y);
        return `<span style="color:${this.color}">●</span> ${this.series.name}: <b>${value}</b><br/>`;
			}
    },

    yAxis: {
      title: {
        text: ''
      },
      maxPadding: 0.2,
      softMax: 1
    },

    xAxis: {
      gridLineWidth: 2,
      min: globalData[0].data[0][0],
      minRange: 7 * 24 * 3600 * 1000,
      type: 'datetime'
    },


    plotOptions: {
      series: {
        animation: {
          duration
        },
        marker: {
          symbol: 'circle'
        },
        dataLabels: {
          formatter: function() {
            return format(this.y);
          }
        }
      }
    },
    series: globalData.map(series => {
      return {
        name: series.name,
        data: series.data.slice(0, startIterator).map(point => {
					return { x: point[0], y: point[1] }
				})
      }

    })
  });
}









function getCountryPopulation(country) {
  return {
    "China": 1402538360,
    "India": 1361946073,
    "US": 329646239,
    "Indonesia": 266911900,
    "Pakistan": 220892331,
    "Brazil": 211491168,
    "Nigeria": 206139587,
    "Bangladesh": 168568830,
    "Russia": 146745098,
    "Mexico": 126577691,
    "Japan": 125960000,
    "Korea, South": 51780579,
    "Colombia": 49395678,
    "Kenya": 47564296,
    "Spain": 47100396,
    "Argentina": 44938712,
    "Algeria": 43000000,
    "Sudan": 42485365,
    "Ukraine": 41858119,
    "Uganda": 40299300,
    "Iraq": 39127900,
    "Poland": 38379000,
    "Canada": 38020033,
    "Morocco": 35890453,
    "Saudi Arabia": 34218169,
    "Uzbekistan": 34168807,
    "Malaysia": 32772760,
    "Afghanistan": 32225560,
    "Venezuela": 32219521,
    "Peru": 32131400,
    "Angola": 31127674,
    "Ghana": 30280811,
    "Mozambique": 30066648,
    "Nepal": 29996478,
    "Yemen": 29825968,
    "Cameroon": 26545864,
    "Madagascar": 26251309,
    "Cote d'Ivoire": 25823071,
    "Australia": 25701337,
    "North Korea": 25450000,
    "Taiwan*": 23596493,
    "Niger": 22314743,
    "Sri Lanka": 21803000,
    "Burkina Faso": 21510181,
    "Mali": 20250833,
    "Romania": 19405156,
    "Malawi": 19129952,
    "Chile": 19107216,
    "Kazakhstan": 18696032,
    "Zambia": 17885422,
    "Syria": 17500657,
    "Ecuador": 17480384,
    "Netherlands": 17463281,
    "Senegal": 16705608,
    "Guatemala": 16604026,
    "Chad": 16244513,
    "Somalia": 15893219,
    "Cambodia": 15288489,
    "Zimbabwe": 15159624,
    "South Sudan": 12778250,
    "Rwanda": 12374397,
    "Guinea": 12218357,
    "Benin": 11733059,
    "Tunisia": 11722038,
    "Haiti": 11577779,
    "Belgium": 11534131,
    "Bolivia": 11469896,
    "Cuba": 11209628,
    "Burundi": 10953317,
    "Greece": 10724599,
    "Czechia": 10693939,
    "Jordan": 10674736,
    "Dominican Republic": 10358320,
    "Sweden": 10338368,
    "Portugal": 10276617,
    "Azerbaijan": 10067108,
    "United Arab Emirates": 9890400,
    "Hungary": 9772756,
    "Belarus": 9408400,
    "Israel": 9193035,
    "Honduras": 9158345,
    "Tajikistan": 9127000,
    "Papua New Guinea": 8935000,
    "Austria": 8902600,
    "Switzerland": 8603899,
    "Sierra Leone": 7901454,
    "Togo": 7538000,
    "Hong Kong (China)": 7500700,
    "Paraguay": 7252672,
    "Laos": 7123205,
    "Serbia": 6963764,
    "Bulgaria": 6951482,
    "Libya": 6871287,
    "Lebanon": 6825442,
    "Kyrgyzstan": 6533500,
    "El Salvador": 6486201,
    "Nicaragua": 6460411,
    "Turkmenistan": 6031187,
    "Denmark": 5822763,
    "Singapore": 5703600,
    "Congo (Brazzaville)": 5518092,
    "Finland": 5528390,
    "Central African Republic": 5496011,
    "Slovakia": 5457873,
    "Norway": 5367580,
    "Costa Rica": 5058007,
    "New Zealand": 4983837,
    "Palestine": 4976684,
    "Ireland": 4921500,
    "Oman": 4664790,
    "Liberia": 4475353,
    "Kuwait": 4420110,
    "Panama": 4218808,
    "Mauritania": 4077347,
    "Croatia": 4076246,
    "Georgia": 3723464,
    "Uruguay": 3518552,
    "Eritrea": 3497117,
    "Mongolia": 3316327,
    "Bosnia and Herzegovina": 3301000,
    "Puerto Rico (US)": 3193694,
    "Armenia": 2956900,
    "Albania": 2845955,
    "Qatar": 2795484,
    "Lithuania": 2793039,
    "Jamaica": 2726667,
    "Moldova": 2681735,
    "Namibia": 2458936,
    "Gambia": 2347706,
    "Botswana": 2338851,
    "Gabon": 2172579,
    "Slovenia": 2095861,
    "North Macedonia": 2077132,
    "Lesotho": 2007201,
    "Latvia": 1904600,
    "Kosovo": 1795666,
    "Guinea-Bissau": 1604528,
    "Bahrain": 1543300,
    "East Timor": 1387149,
    "Trinidad and Tobago": 1363985,
    "Equatorial Guinea": 1358276,
    "Estonia": 1328360,
    "Mauritius": 1265475,
    "Eswatini": 1093238,
    "Djibouti": 1078373,
    "Fiji": 884887,
    "Cyprus": 875900,
    "Comoros": 873724,
    "Guyana": 782766,
    "Bhutan": 741672,
    "Solomon Islands": 680806,
    "Macau (China)": 679600,
    "Luxembourg": 626108,
    "Montenegro": 622359,
    "Western Sahara": 582463,
    "Suriname": 581372,
    "Cabo Verde": 550483,
    "Malta": 493559,
    "Transnistria": 469000,
    "Brunei": 459500,
    "Belize": 408487,
    "Bahamas": 385340,
    "Maldives": 374775,
    "Iceland": 366130,
    "Northern Cyprus": 351965,
    "Vanuatu": 304500,
    "Barbados": 287025,
    "New Caledonia (France)": 282200,
    "French Polynesia (France)": 275918,
    "Abkhazia": 244832,
    "São Tomé and Príncipe": 210240,
    "Samoa": 200874,
    "Saint Lucia": 178696,
    "Guam (US)": 172400,
    "Curaçao (Netherlands)": 158665,
    "Artsakh": 148000,
    "Kiribati": 120100,
    "Aruba (Netherlands)": 112309,
    "Grenada": 112003,
    "Saint Vincent and the Grenadines": 110608,
    "Jersey (UK)": 106800,
    "U.S. Virgin Islands (US)": 104578,
    "F.S. Micronesia": 104468,
    "Tonga": 100651,
    "Seychelles": 98055,
    "Antigua and Barbuda": 96453,
    "Isle of Man (UK)": 83314,
    "Andorra": 77543,
    "Dominica": 71808,
    "Cayman Islands (UK)": 65813,
    "Bermuda (UK)": 64027,
    "Guernsey (UK)": 63196,
    "American Samoa (US)": 56700,
    "Greenland (Denmark)": 56081,
    "Northern Mariana Islands (US)": 56200,
    "Marshall Islands": 55500,
    "South Ossetia": 53532,
    "Saint Kitts and Nevis": 52823,
    "Faroe Islands (Denmark)": 52337,
    "Turks and Caicos Islands (UK)": 41369,
    "Sint Maarten (Netherlands)": 40614,
    "Liechtenstein": 38749,
    "Monaco": 38100,
    "Saint Martin (France)": 35334,
    "Gibraltar (UK)": 33691,
    "San Marino": 33553,
    "British Virgin Islands (UK)": 30030,
    "Åland Islands (Finland)": 29914,
    "Palau": 17900,
    "Cook Islands (NZ)": 15200,
    "Anguilla (UK)": 14869,
    "Wallis and Futuna (France)": 11700,
    "Nauru": 11000,
    "Tuvalu": 10200,
    "Saint Barthélemy (France)": 9793,
    "Saint Pierre and Miquelon (France)": 6008,
    "Saint Helena, Ascension\nand Tristan da Cunha (UK)": 5633,
    "Montserrat (UK)": 4989,
    "Falkland Islands (UK)": 3198,
    "Christmas Island (Australia)": 1928,
    "Norfolk Island (Australia)": 1756,
    "Niue (NZ)": 1520,
    "Tokelau (NZ)": 1400,
    "Vatican City": 825,
    "Cocos (Keeling) Islands (Australia)": 538,
    "Pitcairn Islands (UK)": 50,
		"Diamond Princess": 3711
  }[country];
}

*/
</script>
{% endblock %}
